.aider*
spring-boot-master/spring-boot-data-jpa-hospital-management-system-8563783c3d5fb4bad27df7790afda8d99c7bcbc4/src/main/resources/application.yml
spring-boot-master/spring-boot-data-jpa-hospital-management-system-8563783c3d5fb4bad27df7790afda8d99c7bcbc4/target/
